.App {
  text-align: center;
}
 
body, html , ul , h1{
  padding: 0;
  margin: 0;
}

.container {
}

ul {
  list-style: none;
}

/* Nav wrapper */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgba(45,45,45,0.98);
  height: 35px;
  color: white;
  padding: 0.5em 8em;
}

.nav-wrapper li {
  display: inline-block;
}

.nav-wrapper a {
  text-decoration: none;
  color: white;
}

.search {
  background: #ffe;
  color: #444;
  height: 2em;
  width: 5em;
  text-align: center;
  vertical-align: center;
  border-radius: 15px;
  font-size: 0.8em;
  line-height: 2em;
  font-weight: lighter;
}

.bag {
  border: 1px solid white;
  height: 1.5em;
  padding: 0.2em;
}

.main-body {
  height: 95vh;
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


/* sub nav */

.sub-nav {
  padding: 0 2.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background: rgba(242,242,242,0.7);
  text-align: center;
  color: #444;
}

.sub-nav a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
